<div class="container-fluid b-block2Page" id="{{ page.url }}" style="background-image: url('{{ imageable_asset(page, null) }}');">
    <div class="container">
        <div class="b-blockContent">
            <h2>{{ page.name }}</h2>
            {{ page.anonse|raw }}
        </div>
    </div>
</div>