{% if page.imageBaseName %}
    <div class="container-fluid b-pageBlock">
        <div class="row">
            <div class="col-lg-6 px-lg-0 text-right">
                <img class="img-fluid" src="{{ imageable_asset(page, null) }}" alt="{{ page.name }}">
            </div>
            <div class="col-lg-6">
                <div class="container-half-lg ml-lg-0">
                    <div class="b-blockContent b-blockContent-ps">
                        <h2 class="text-left">{{ page.name }}</h2>
                        {{ page.anonse|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container b-pageBlock">
        <div class="b-blockContent">
            <h2>{{ page.name }}</h2>
            {{ page.anonse|raw }}
        </div>
    </div>
{% endif %}