{% extends 'base.html.twig' %}
{% block main %}
    <div class="b-page">
        <div class="container">
            <div class="b-blockContent">
                <h1>{{ page.name }}</h1>
                {{ page.description|raw }}
                {{ include('common/_contacts.html.twig') }}
                {{ include('common/_contacts_all.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}