{% extends 'base.html.twig' %}
{% block main %}
    <div class="b-page">
        <div class="container">
            <div class="b-blockContent">
                <h1 class="title">{{ page.name }}</h1>
                {{ page.description|raw }}
            </div>
        </div>
    </div>
{% endblock %}