{% extends 'base.html.twig' %}
{% set isMainPage = true %}
{% block main %}
    <div class="b-mainPage">
        {% set counter = 0 %}
        {% for page in pages %}
            {% if page.url == 'catalog' and catalog|length > 0 %}
                <div class="container py-4 text-center">
                    <h2 class="title">{{ page.name }}</h2>
                    {{ include('catalog/_list.html.twig', { items: catalog } ) }}
                    <div class="text-center">
                        <a href="{{ url('catalog') }}" class="b-but">Смотреть все</a>
                    </div>
                </div>
            {% elseif page.url == 'price' and prices|length > 0 %}
                <div class="container py-5">
                    <h2>{{ page.name }}</h2>
                    <div class="e-pageAnonse">
                        {{ page.anonse|raw }}
                    </div>
                    {{ include('price/_list.html.twig', { items: prices } ) }}
                </div>
            {% elseif (page.url == 'service' or page.url == 'building') and page.anonse %}
                {{ include('page/_block2.html.twig' ) }}
            {% elseif page.anonse %}
                {{ include('page/_block1.html.twig' ) }}
                {% set counter = counter + 1 %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}