@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin clear() {
  &:after {
    display: block;
    content: '';
    clear:both;
    float:none !important;
  }
}

@mixin float-items($items_in_row, $item_margin) {
  $item_width: 100/$items_in_row - $item_margin + 1/$item_margin;
  width: unquote($item_width + '%');
  margin-top: $item_margin * 1%;
  float: left;
  @for $number from 1 through $items_in_row {
    &:nth-child(#{$number}n) {
      @if $number == $items_in_row {
        margin-right: 0;
      } @else {
        margin-right: $item_margin * 1%;
      }
    }
  }
}

$container-half-max-widths: (
        lg: 480px,
        xl: 570px
) !default;

.container-half-lg {
  @include make-container();
  @include make-container-max-widths();
  @include media-breakpoint-up(lg) {
    @include make-container-max-widths($container-half-max-widths);
  }
}