$font-family-base: 'Montserrat', sans-serif;
$headings-font-weight: 800;
$navbar-dark-color: #FFF;
$navbar-brand-font-size: 1rem;
$biruzovy: #00c9d0;
$kirpichny: #824c3d;
$kirpichny_light: #decfc7;
$link-color: $biruzovy;
$yellow: #fbf8f3;
$golden: #dec69b;
$grey: #f5f5f5;
$orange: #ff7a00;
$pink: #ffe4d8;

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "lightbox.scss";
@import "owl.carousel.scss";
@import "common.scss";
@import "icons.scss";

@font-face {
    font-family: 'Auction';
    src: url('/fonts/Auction/auction.eot?#iefix') format("embedded-opentype"), url("/fonts/Auction/auction.woff") format("woff"), url("/fonts/Auction/auction.ttf") format("truetype"), url("/fonts/Auction/auction.svg#auction") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bistroc';
    src: url("/fonts/Bistroc/bistroc.eot?#iefix") format("embedded-opentype"), url("/fonts/Bistroc/bistroc.woff") format("woff"), url("/fonts/Bistroc/bistroc.ttf") format("truetype"), url("/fonts/Bistroc/bistroc.svg#bistroc") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoePrint';
    src: url("/fonts/Segoe/SegoePrint.woff2") format("woff2"), url("/fonts/Segoe/SegoePrint.woff") format("woff"), url("/fonts/Segoe/SegoePrint.ttf") format("truetype"), url("/fonts/Segoe/SegoePrint.svg#SegoePrint") format("svg"), url("/fonts/Segoe/SegoePrint.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.link {
    color: $link-color;
}

.orange {
    color: $orange;
}


.title {
    background: $biruzovy;
    color: #ffffff;
    padding: 0.375em 0.875em;
    font-family: 'Auction';
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto 1em;
    z-index: 2;
    text-align: center;
    position: relative;
    box-shadow: 1px 11px 36px -3px rgba(0, 0, 0, 0.58);
    &:before, &:after {
        content: '';
        top: 0;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 0.975em solid $biruzovy;
        border-bottom: 0.975em solid $biruzovy;
    }
    &:before {
        left: -0.7em;
        border-left: 0.7em solid transparent;
    }
    &:after {
        right: -0.7em;
        border-right: 0.7em solid transparent;
    }
}

header {
    position: relative;
    .navbar-toggler {
        //color: #FFF;
    }
    .b-phone {
        display: inline-block;
        font-weight: 500;
        //color: #FFF;
        padding: 0.5rem 1rem;
        text-decoration: none;
        white-space: nowrap;
    }
    .navbar {
        font-weight: 500;
        position: relative;
        .navbar-brand {
            margin-right: 0;
            width: 20%;
            img {
                max-width: 100%;
            }
        }
        @include media-breakpoint-down(md) {
            .navbar-collapse {
                position: absolute;
                width: 100%;
                top: 100%;
                background-color: #FFF;
                z-index: 100;
                padding: 2em;
                box-shadow: 0 9px 19px 0 rgba(0,0,0,0.75);
                .navbar-nav {
                    .nav-item {
                        border-bottom: 1px solid $kirpichny_light;
                        .nav-link, .active > .nav-link {
                            color:#000;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-up(sm) {
            .navbar-brand {
                width: 9.65em;
            }
        }
        @include media-breakpoint-up(lg) {
            padding-top: 1em;
            padding-bottom: 1em;
            .navbar-nav {
                margin-left: 1em;
                margin-right: 1em;
                .nav-item {
                    a {
                        //color: #FFF;
                    }
                    padding: 0 0.5em;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
            .b-phone {
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
        @include media-breakpoint-up(xl) {
            .navbar-nav {
                .nav-item {
                    padding: 0 1.5em;
                }
            }
        }
    }
    .e-promo {
        display: block;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: relative;
            width: 100%;
            height: 100px;
            background-repeat: repeat-x;
            background-position: center center;
            background-image: url('/images/clouds_top.png');
        }
    }
}

header.e-isMainPage {
    .e-promo {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('/images/bg-title.jpg');
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
        .container {
            position: relative;
            &:before {
                display: block;
                content: '';
                width: 100%;
                background: url('/images/header-title.png') center center no-repeat;
                background-size: contain;
                padding-top: 70%;
                //border:1px solid #F00;
            }
        }
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100px;
            background-repeat: repeat-x;
            background-position: center center;
            left: 0;
            z-index: 10;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
            background-image: url('/images/clouds_bottom.png');
        }
    }
    @include media-breakpoint-up(lg) {
        .e-promo {
            .container {
                &:before {
                    padding-top: 60%;
                    background: url('/images/active-icons.png') right center no-repeat, url('/images/header-title.png') 85% center no-repeat, url('/images/girl.png') bottom left no-repeat;
                }
            }
        }
    }
}

footer {
    position: relative;
    margin-top: 6em;
    padding-top: 2.5em;
    padding-bottom: 2em;
    border-top: 1px solid #c9c9c9;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -5em;
        width: 100%;
        height: 3.2em;
        background-image: url('/images/logo_green.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    .container {
        h3 { font-size: 1em; }
        table td {
            padding: 0.3em;
        }
        > .row > div {
            font-size: 0.85em;
        }
    }
}

.b-but {
    font-family: 'Bistroc';
    background-color: $biruzovy;
    display: inline-block;
    color: #FFF;
    padding: 0.7em 2em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset 0 0 1em 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    &:hover {
        color: #FFF;
        text-decoration: none;
    }
    &:disabled {
        background-color: #D0D0D0;
        color: grey;
        box-shadow: none;
    }
}

.b-catalog {
    .e-item {
        display: block;
        position: relative;
        background-color: #FFF;
        box-shadow:inset 0 0 0 1px $kirpichny;
        text-decoration: none;
        color: #000;
        font-weight: 500;
        padding-bottom: 2em;
        margin-bottom: 2em;
        .e-img {
            display:block;
            width: 100%;
            height: 20em;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin-bottom: 1em;
        }
        .e-name {

            font-family: "SegoePrint";
            padding-left: 2em;
            padding-right: 2em;
            display: block;
        }
        .link {
            font-weight: 700;
        }
    }
}

.b-rubricator {
    font-family: "SegoePrint";
    color: #000;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
    a {
        color: inherit;
    }
    .e-title {
        font-family: inherit;
        background-color: $biruzovy;
        color: #FFF;
        text-align: center;
        font-size: 1em;
        padding: 1em 2em;
        margin: 0;
        font-weight: 400;
    }
    .e-row {
        padding: 1em 1em;
        border-bottom: 1px solid $grey;
    }

}

.b-content {
    position: relative;
    padding-top: 2em;
    min-height: 300px;
}

.b-breadcrumbs {
    padding-bottom: 2em;
    font-size: 0.85em;
    a {
        color: inherit;
    }
    span {
        color: $biruzovy;
        font-weight: 600;
    }
}

.b-page {
    @include media-breakpoint-up(lg) {
        h1 {
            margin-bottom: 1em;
        }
    }
}

.b-shopItem {
    img {
        max-width: 100%;
    }
    font-family: 'SegoePrint';
    h1 {
        font-family: 'Auction';
        font-weight: normal;
    }
    .e-param {
        margin-bottom: 0.5em;
        strong {
            color: $biruzovy;
        }
    }
    .e-price {
        strong {
            font-size: 1.2em;
            color: $orange;
        }
    }
    .e-image {
        border: 1.25em solid $pink;
        border-image-source: url(/images/frame.png);
        border-image-slice: 20;
    }
}

.b-orderForm {
    position: relative;
    margin-top: 2em;
    .e-formArea {
        position: relative;
        text-align: center;
        background-color: #efe8e6;
        padding: 2em 3em;
        h3 {
            font-size: 1.3em;
            font-weight: 600;
            margin-bottom: 1em;
        }
        .b-form {
            label {
                display: none;
            }
            input, textarea {
                width: 100%;
                border: 1px solid #865143;
                margin-bottom: 1em;
                //background-color: #efe8e6;
                padding: 0.4em 0.5em;
            }
            textarea {
                min-height: 5em;
            }
            > div {
                > ul {
                    list-style-type: none;
                    margin-left: 0;
                    padding-left: 0;
                    text-align: left;
                    font-size: 0.85em;
                    margin-bottom: 0.1em;
                    color: #F00;
                }
                > ul ~ input {
                    border: 1px solid #F00;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url('/images/bruski.png');
        .e-formArea {
            top: -7%;
            height: 114%;
            padding-bottom: 0;
        }
    }
}

.b-iconBlock {
    position: relative;
    font-weight: 500;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 3em;
        margin-bottom: 1em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}

.b-iconBlock-archway {
    @extend .b-iconBlock;
    &:before {
        @include svg-bg-archway(#fff);
    }
}

.b-iconBlock-calculator {
    @extend .b-iconBlock;
    &:before {
        @include svg-bg-calculator(#fff);
    }
}

.b-iconBlock-map-marked {
    @extend .b-iconBlock;
    &:before {
        @include svg-bg-map-marked(#fff);
    }
}

.b-iconBlock-paint-brush {
    @extend .b-iconBlock;
    &:before {
        @include svg-bg-paint-brush(#fff);
    }
}

.b-iconBlock-percentage {
    @extend .b-iconBlock;
    &:before {
        @include svg-bg-percentage(#fff);
    }
}

.b-iconBlock-wrench {
    @extend .b-iconBlock;
    &:before {
        @include svg-bg-wrench(#fff);
    }
}

.b-photos {
    .e-photos {
        position: relative;
        overflow: hidden;
        height: 570px;
        .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item {
            height: 100%;
        }
        .e-item {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .e-section {
        padding: 4em;
        .e-row {
            display: block;
            text-transform: uppercase;
            color: #000;
            font-weight: 700;
            a {
                text-decoration: none;
                color: inherit;
                outline: none;
            }
            padding-bottom: 2em;
            margin-bottom: 2em;
            border-bottom: 1px solid #978669;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
        .selected {
            a {
                &:before {
                    content: '> ';
                }
            }
        }
    }
}

.owl-carousel {
    .owl-nav {
        display: block;
        position: absolute;
        left: 44%;
        bottom: 0;
        button.owl-prev, button.owl-next {
            display: inline-block;
            background: $golden;
            color: #fff;
            border: none;
            z-index: 100;
            cursor: pointer;
            font-size: 3em;
            outline: none;
            span {
                display: block;
                padding: 0.1em 0.5em;
            }
            &:nth-child(2) {
                margin-left: 0.3em;
            }
        }
    }
}

.social {
    text-align: center;
    width: 100%;
    .social__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.625em;
        &:last-child {
            margin-right: 0;
        }
    }
    .social-sprite {
        background: url('/images/social-sprite.png') no-repeat top left;
        width: 46px;
        height: 47px;
    }
    .social-sprite.icon-vk {
        background-position: -198px 0;
    }
    .social-sprite.icon-facebook {
        background-position: -66px 0;
    }
    .social-sprite.icon-instagram {
        background-position: -132px 0;
    }

    .social__link {
        display: block;
    }
}