{% if is_granted('ROLE_ADMIN') and item is defined %}
    {% set options = { action: 'edit', entity: 'Catalog', id: item.id } %}
    <a href="{{ url('easyadmin', options) }}" class="e-adminlink" target="admin">Редактировать</a>
{% endif %}