{% trans_default_domain 'EasyAdminBundle' %}
<div class="easyadmin-list-editable">
    <label>
        <input
               value="{{ value }}"
               data-id="{{ item.id }}"
               data-propertyname="{{ field_options.property }}"
               data-path="{{ path('easyadmin', { action: 'edit', entity: entity_config.name, view: 'list' })|raw }}"
                {% if field_options.type == 'integer' %}style="width:6em;" type="number"{% else %}type="text"{% endif %}
        >
    </label>
</div>
