{% set item = field_options.itemGetter is defined ? attribute(item, field_options.itemGetter) : item %}
{# this check is needed because image fields can be optional #}
{% if item is null or item.imageFileName is null %}
    {{ include(entity_config.templates.label_empty) }}
{% else %}
    <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ item.id }}" data-featherlight-close-on-click="anywhere">
        <img src="{{ imageable_asset(item, 'small') }}" alt="">
    </a>

    <div id="easyadmin-lightbox-{{ item.id }}" class="easyadmin-lightbox">
        <img src="{{ imageable_asset(item, 'large') }}" alt="">
    </div>
{% endif %}