{% set children = page.children %}
{% if children|length > 0 %}
    <div class="container-fluid mt-5  d-none d-md-block" style="max-width: 1920px;">
        <h2 class="container" style="font-size: 3em;">{{ page.name }}</h2>
        <div class="row b-photos">
            <div class="col-8 px-0" >
                <div class="e-photos" id="photos">
                    {% for section in children %}
                        <div class="owl-carousel" id="photos{{ section.id }}">
                            {% for image in section.photos %}
                                <a href="{{ imageable_asset(image, 'large') }}"
                                   data-lightbox="photogal{{ section.id }}"
                                   data-title="{{ image.name }}"
                                   class="e-item"
                                   style="background-image: url('{{ imageable_asset(image, 'photogal') }}');"></a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-4 px-0 background-golden">
                <div class="e-section" id="photosSection">
                    {% for section in children %}
                        <div class="e-row" id="photosSection{{ section.id }}">
                            <a href="#" onclick="return openTab({{ section.id }});">{{ section.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
      function openTab(id, element) {
        $('#photosSection').children().each((index, value) => $(value).removeClass('selected'));
        $('#photosSection' + id).addClass('selected');

        $('#photos').children().each((index, value) => $(value).hide());
        const section = $('#photos' + id);
        section.show();
        section.owlCarousel(
          {
            items:1,
            loop:true,
            nav: true
          }
        );

        return false;
      }

      $(document).ready(function(){
        openTab({{ children.first.id }});
      });
    </script>
{% endif %}