<div class="row b-price">
    {% for item in items %}
        <div class="col-md-6">
            <div class="e-item">
                <div class="row">
                    <div class="col-lg-7">
                        <span class="e-img" style="{% if item.imageBaseName %}background-image:url('{{ imageable_asset(item, 'medium') }}');{% endif %}"></span>
                    </div>
                    <div class="col-lg-5">
                        {% if item.material %}
                            <div class="e-param">
                                <span class="e-paramName">{{ 'Material'|trans }}</span>
                                <br>
                                <span class="e-value">{{ item.material }}</span>
                            </div>
                        {% endif %}
                        {% if item.sizes %}
                            <div class="e-param">
                                <span class="e-paramName">{{ 'Sizes'|trans }}</span>
                                <br>
                                <span class="e-value">{{ item.sizes }}</span>
                            </div>
                        {% endif %}
                        <div class="e-price"><span>Цена</span><br> от {{ item.price|price }} руб.</div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="e-empty">Ничего не найдено</div>
    {% endfor %}
</div>