{% extends 'shop/layout.html.twig' %}

{% block content %}

    <div class="b-shopItem">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="e-image">
                        <a
                                href="{{ imageable_asset(shop, 'large') }}"
                                data-title="{{ shop.name }}"
                                data-lightbox="item"
                                class="e-main text-center"><img src="{{ imageable_asset(shop, 'medium') }}')" alt="{{ shop.name }}"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1>{{ shop.name }}</h1>

                    {% if shop.price > 0 %}
                        <div class="e-param e-price">
                            <span>Стоймость:</span> <strong>{{ shop.price|price }} руб.</strong>
                        </div>
                    {% endif %}

                    {% if shop.vendor %}
                        <div class="e-param">
                            <span>Производитель:</span> <strong>{{ shop.vendor }}</strong>
                        </div>
                    {% endif %}

                    {% if shop.model %}
                        <div class="e-param">
                            <span>Модель:</span> <strong>{{ shop.model }}</strong>
                        </div>
                    {% endif %}

                    <div class="e-param">
                        <span>Наличие:</span> <strong>{{ shop.amount > 0 ? 'есть' : 'нет' }} </strong>
                    </div>

                    <div class="b-basketAdd">
                        <a href="#" class="b-but">В корзину</a>
                    </div>

                    <div class="e-description">
                        {{ shop.description|raw }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}