{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        {{ include('common/_breadcrumb.html.twig') }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="b-rubricator">
                    <h3 class="e-title">Выберите категорию</h3>
                    {% for rub in rubricator %}
                        <div class="e-row" style="padding-left:{{ rub.lvl - 1 }}em;">
                            <a href="{{ url('page' ~ rub.id) }}">{{ rub.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}