{% if breadcrumbs is defined and breadcrumbs|length > 0 %}
    <div class="b-breadcrumbs">
        <a href="{{ path('index') }}" class="e-home">Главная</a>
        {% for breadcrumb in breadcrumbs %}
            /
            {% if breadcrumb.url %}
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            {% else %}
                <span>{{ breadcrumb.name }}</span>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}