{% if pagination is defined and pagination.getPages|length > 1 %}
    <div class="b-pagination">
        {% for p in pagination.getPages %}
            {% if p.isCurrent %}<span>{{ p.name }}</span>{% else %}<a href="{{ url(p.routeName, p.routeParameters) }}">{{ p.name }}</a>{% endif %}
            {% if not loop.last %}&nbsp;{% endif %}
        {% endfor %}
    </div>
{% endif %}