<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="language" content="ru" />
    <title>{{ meta.title|spaceless }}</title>
    <meta name="description" content="{{ meta.description|spaceless }}">
    <meta property="og:description" content="{{ meta.description|spaceless }}" />
    <meta name="keywords" content="{{ meta.keywords|spaceless }}">
    <meta name="og:title" content="{{ meta.title|spaceless }}" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="{{ meta.image }}" />
    {% if meta.canonical is defined and meta.canonical %}<link rel="canonical" href="{{ meta.canonical|spaceless }}" />{% endif %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" crossorigin="anonymous">
    <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/lightbox.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    <style rel="stylesheet">{% block stylesheets %}{% endblock %}</style>
</head>
<body>
    <header {% if isMainPage is defined %}class="e-isMainPage"{% endif %}>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ url('index') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {#TODO mr-auto #}
                    {{ knp_menu_render('main') }}
                </div>
                <a href="tel:{{ phone }}" class="b-phone">{{ phone|tel }}</a>
            </nav>
        </div>
        <div class="e-promo">
            {% if isMainPage is defined %}
            <div class="container"></div>
            {% endif %}
        </div>
    </header>
    {% block main %}{% endblock %}
    <div class="pb-5">&nbsp;</div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><a href="/privacy">Соглашение об обработке персональных данных</a></p>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <div class="social__item"><a href="https://vk.com/funnyshow2016" rel="nofollow" target="vk" title="Сумасшедшая лаборатория Вконтакте" class="social__link social-sprite icon-vk"></a></div>
                        <div class="social__item"><a href="http://ok.ru/group/53886597791969" rel="nofollow" target="ok" title="Сумасшедшая лаборатория в Одноклассниках" class="social__link social-sprite icon-class"></a></div>
                        <div class="social__item"><a href="https://facebook.com/funnyshow.ru" rel="nofollow" target="fb" class="social__link social-sprite icon-facebook"></a></div>
                        <div class="social__item"><a href="https://instagram.com/funnyshow.ru" rel="nofollow" target="inst" title="Сумасшедшая лаборатория Instagram" class="social__link social-sprite icon-instagram"></a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3><a href="/contacts">Контактная информация</a></h3>
                    {{ include('common/_contacts.html.twig') }}

                    <p>Создание сайта: <a href="http://vk.com/public85884884" target="sib promo">Sib Promo</a></p>
                </div>
            </div>
        </div>
    </footer>
{% block javascripts %}{% endblock %}
{{ include('common/_counter.html.twig') }}
</body>
</html>