{% extends 'base.html.twig' %}
{% block main %}
    {#{ include('common/_breadcrumb.html.twig') }#}
    <div class="b-content">
        <div class="container">
            <div class="b-h1">
                {% block h1 %}{% endblock %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}