<h3>{{ form_label(orderForm) }}</h3>
{{ form_start(orderForm) }}
{{ form_widget(orderForm) }}
{{ form_end(orderForm) }}
<script >
  $(document).ready(function () {
    $('#orderform').submit(function (event) {
      const form = $(this);
      ajaxFormRequest(form, 'orderFormArea', 'html');
      event.preventDefault();
    });
  });
</script>