<h3>Заказ #{{ order.id }}</h3>

<table>
    <tr>
        <td>Тема</td>
        <td>{{ order.theme }}</td>
    </tr>
    <tr>
        <td>ФИО</td>
        <td>{{ order.client.name }}</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td><strong>{{ order.client.phone }}</strong></td>
    </tr>
    <tr>
        <td>Комментарий</td>
        <td>{{ order.description }}</td>
    </tr>
    <tr>
        <td>User info</td>
        <td>{{ order.requestInfo.ip }}</td>
    </tr>
    <tr>
        <td>Перейти в админку</td>
        <td>{{ url('easyadmin', { entity: 'Order', action: 'show', id: order.id }, 0) }}</td>
    </tr>
</table>