{% extends 'default.html.twig' %}

{% block h1 %}
    <h1>Страница не найдена</h1>
{% endblock %}

{% block content %}
    Перейдите на <a href="{{ url('index') }}"><strong>главную страницу</strong></a> и попробуйте найти что вам нужно.
{% endblock %}