<span class="b-catalogItemParams">
    {% if item.square %}
        <span class="e-param e-square">{{ 'Square, m2'|trans }}</span>
        <span class="e-value">{{ item.square }}</span>
    {% endif %}
    {% if item.material %}
        <span class="e-param">{{ 'Material'|trans }}</span>
        <span class="e-value">{{ item.material }}</span>
    {% endif %}
    {% if item.productionTime %}
        <span class="e-param">{{ 'Production time'|trans }}</span>
        <span class="e-value">{{ item.productionTime }}</span>
    {% endif %}

    {% if advanced is defined %}

        {% if item.rooms %}
            <span class="e-param">{{ 'Rooms'|trans }}</span>
            <span class="e-value">{{ item.rooms }}</span>
        {% endif %}

        {% if item.floors %}
                <span class="e-param">{{ 'Floors'|trans }}</span>
                <span class="e-value">{{ item.floors }}</span>
        {% endif %}

        {% set other = (item.garage ? ', ' ~ 'Garage'|trans|lower) ~ (item.terrace ? ', ' ~ 'Terrace'|trans|lower) ~ (item.mansard ? ', ' ~ 'Mansard'|trans|lower) %}

        {% if other %}
            <span class="e-param">Дополнительно</span>
            <span class="e-value">{{ other[2:] }}</span>
        {% endif %}

    {% endif %}
</span>