<div class="row b-catalog">
    {% for item in items %}
        <div class="col-xs-6 col-md-4">
            <a class="e-item" href="{{ path('catalog_item', {id: item.id}) }}" >
                <span class="e-img" style="{% if item.imageFileName %}background-image:url('{{ imageable_asset(item, 'medium') }}');{% endif %}"></span>
                <span class="e-name">{{ item.name }}</span>
            </a>
        </div>
    {% else %}
        <div class="e-empty">Ничего не найдено</div>
    {% endfor %}
</div>