{% extends 'default.html.twig' %}

{% block h1 %}
    <h1>{{ page.name }}</h1>
{% endblock %}

{% block content %}
    {% if page.description %}<div class="e-description">{{ page.description|raw }}</div>{% endif %}
    {{ include('catalog/_list.html.twig') }}
    {{ include('common/_pagination.html.twig') }}
{% endblock %}
