{% extends 'base.html.twig' %}

{% set items = catalog.items %}

{% block main %}
    <div class="container">
        {{ include('common/_breadcrumb.html.twig') }}
    </div>
    <div class="b-catalogItem">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <h1>{{ catalog.name }}</h1>
                    <div class="e-description">
                        {{ catalog.description|raw }}
                    </div>
                    {{ include('catalog/_itemParams.html.twig', {item: catalog, advanced: true}) }}
                    <div class="text-center text-lg-left">
                        <div class="e-price">Цена<br><strong>от {{ catalog.price|price }} руб.</strong></div>
                    </div>
                    <div class="text-center text-lg-left">
                        <a href="#orderFormArea" id="itemOrderButton" class="b-but">Заказать проект</a>
                    </div>
                </div>
                <div class="col-lg-7 order-lg-first">
                    <div class="e-images">
                        {% if catalog.imageFileName %}
                            <a
                                    href="{{ imageable_asset(catalog, 'large') }}"
                                    data-title="{{ catalog.name }}"
                                    data-lightbox="item"
                                    class="e-main text-center"><img src="{{ imageable_asset(catalog, 'large') }}')" alt="{{ catalog.name }}"></a>
                        {% endif %}
                        <div class="e-items" id="catalogItemItemsClicker">
                            {% for item in items %}
                                <a class="e-itemImage"
                                   data-lightbox="item"
                                   data-title="{{ catalog.name }}"
                                   title="{{ catalog.name }}"
                                   href="{{ imageable_asset(item, 'large') }}"
                                   style="background-image:url('{{ imageable_asset(item, 'small') }}');"></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if catalog.part1.description %}
            <div class="container">
                <div class="b-blockContent">{{ catalog.part1.description|raw }}</div>
            </div>
        {% endif %}

        {% if catalog.part1.imageFileName %}
            <div class="container-fluid b-wide_image_left-lg">
                <div>
                    <img src="{{ imageable_asset(catalog.part1, 'widelarge') }}')" alt="{{ catalog.name }}">
                </div>
            </div>
        {% endif %}

        {% if catalog.part2.description %}
            <div class="container">
                <div class="b-blockContent">{{ catalog.part2.description|raw }}</div>
            </div>
        {% endif %}

        {% if catalog.part2.imageFileName %}
            <div class="container-fluid text-center px-lg-0">
                <img src="{{ imageable_asset(catalog.part2, 'widelarge') }}')" alt="{{ catalog.name }}">
            </div>
        {% endif %}
    </div>

    {{ include('photo/_block.html.twig', { page: pagePhoto }) }}
{% endblock %}